
<p class="userstate"  *ngIf="authService.userState$ | async as user" >Welcome {{user.email}}</p>
<div class="container">
    <div class="header">
      <button mat-raised-button color="primary" (click)="addProfile()">
        Add Startup
      </button>
      <button mat-raised-button color="primary" (click)="addSector()">
        Add Sector
      </button>
    </div>
    <div class="content">
      <div class="list">
        <div class="list-header">
          <h3>List of Startups</h3>
         
        </div>
        <app-profile-list
          [profile$]="allProfile$"
          (ProfileEmitter)="selectProfile($event)"
        ></app-profile-list>
      </div>
        <!-- <app-details
         
               [profile]="selectedProfile"
        *ngIf="selectedProfile
        (deleteProfile)="deleteProfile()"
        (updateProfile)="updateProfile()">
     </app-details> -->


     <!-- <app-details [profile]="selectedProfile" (updateProfile)="updateprofile()" 
    > 

     </app-details> -->
    
     <div class="tp-wrapper">
      <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
        <div class="tp-box__side tp-box__front">
          <img src="../../assets/image/algebra.jpg" alt="algebra logo">
        </div>
        <div class="tp-box__side tp-box__back">Back
        </div>
      </div>
    </div>



    </div>
  </div>