.body{
  height: 100%;
}
.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
      }
    .logo{
      border-radius: 12px;
      margin-right: 15px;
    }
    .title{
      text-decoration: none;
      color: white;
      font-size: larger;
    }
   .link{
      text-decoration: none;
    }
    .mat-toolbar.mat-primary {
      background: #3f51b5;
      color: #fff;
      justify-content: center;
  }
  
      .pt-5{
        padding: 0 !important;
        
      }

.footer-mat-toolbar{
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

/* .body{
  background-color: rgb(243, 243, 243);

} */