
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <img src="../assets/image/option1.webp" alt="startup logo" width="100px" class="logo" >
     <a routerLink="landing-page" class="title">StartUps</a> 
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
     <a  class="link" routerLink="/about-us"> <button mat-menu-item>
        <span>About US</span>
      </button></a>
      <a  class="link" routerLink="/admin-login"><button mat-menu-item>
        <span>Admin login</span>
      </button></a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
 

      <router-outlet></router-outlet>


      <div>footer</div>