<div class="total-body">


  <div class="admin-startup">
  
    <h2>Plaese full the Required feilds to Submit the new StartUp
       </h2>
       <form [formGroup]="form">
        <button type="submit" mat-raised-button color="primary" (click)="done()"  [disabled]="form.invalid"> Add </button>

        <!--user name-->
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input required formControlName="userName" class="form-control" placeholder="Enter your Name here" type="text" matInput />
        </mat-form-field>
                <!--logo-->
        <mat-form-field>
          <mat-label>Image URL</mat-label>
          <input matInput required formControlName="logo" class="form-control" placeholder="https://logo.png" type="text" />
        </mat-form-field>
                <!--category-->
        <mat-form-field>
          <mat-label>Sectore</mat-label>
          <mat-select required formControlName="category" multiple="sectorsOptions"  class="form-control" placeholder="Select the parent category"
          >
          <mat-option  *ngFor="let sector of sectorsOptions"> 
            {{sector.name}}
          </mat-option >
          </mat-select>
        </mat-form-field>
        <!--city-->
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select formControlName="city"  multiple="city"  class="form-control" placeholder="Fire"
          >
          <mat-option  *ngFor="let thecity of cities"> 
            {{thecity.city}}
          </mat-option >
          </mat-select>        
        </mat-form-field>
        <!--founder name-->
        <mat-form-field>
          <mat-label>Foundar Name</mat-label>
          <input matInput required formControlName="founderName" class="form-control" placeholder="Enter the Founder Name" type="text" matInput/>
        </mat-form-field>
         <!--no. employee-->
         <mat-form-field>
          <mat-label>NO. Employee</mat-label>
          <input matInput required placeholder="Enter the No." type="number"
          formControlName="employee"
          min="50"  class="form-control" />
        </mat-form-field>
         <!--website-->
         <mat-form-field>
          <mat-label>Website url</mat-label>
          <input matInput required formControlName="url" class="form-control" placeholder="https://htu.com" type="url" />
        </mat-form-field>
        <!--email-->
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput required formControlName="emailFormControl" class="form-control" placeholder="Email" type="email" />
        </mat-form-field>

   <!-- button submit -->
    <button type="submit" mat-raised-button color="primary" (click)="done()"  [disabled]="form.invalid"> Add </button>
  </form>
  </div>
  </div>